<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistical Arbitrage</title>
</head>
<body>
    <section id="chart"></section>

        <section id="trades"></section>

        <h3>Settings</h3>
        <section id="Currencies">
            Start USDT
            <input type="text"/>
            Order Amount 
            <input type="text"/>
        </section>
        <h3>Parameters</h3>
        <section id="Parameters">
            UPPER_THRESHOLD : {{Upper}}
            LOWER_THRESHOLD : {{Lower}}
            Stoploss : {{Stoploss}}
            TakeProfit : {{Takeprofit}}
            Timeout : {{Timeout}}
        </section>
        <br>
        <form action="/forward/" method="post">
            <button name="forwardBtn" type="submit">Click me</button>
        </form>
        <h3>settings</h3>
        <section id="order">
            USDT Start
            <input type="text"/>
            Order amount 
            <input type="text"/>
            
        </section>
        <br>
        <section>
            <button type="button">Start!</button>
        </section>
        </div>
    
</body>
</html>