<html>
    <head>
        <title>Coinview</title>
    </head>

    <body>
        <h1>{{ title }}</h1>

        <div id="chart"></div>

        <div id="trades"></div>

        <h3>Settings</h3>
        <div id="Parameters">
            Start USDT
            <input type="text"/>
            Order Amount 
            <input type="text"/>
        </div>
        <h3>Parameters</h3>
        <div id="Parameters">
            ZScore
            <input type="text"/>
            Stoploss  
            <input type="text"/>
            TakeProfit
            <input type="text"/>
            Timeout
            <input type="text"/>
        </div>
        </div>
    </body>
</html>